.area {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--area-porta-largura);
    height: var(--area-porta-altura);
    align-items: center;
    margin: 5px;
}


.frame {
    display: flex;
    flex-grow: 1;
    border-left: 5px solid rgb(87, 52, 7);
    border-right: 5px solid rgb(87, 52, 7);
    border-top: 5px solid rgb(87, 52, 7);
    width: 90%;
}

.groundFrame {
    height: 10px;
    width: 100%;
    background-color: gainsboro;
}

.porta {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    background-color: rgb(131, 87, 42);
    padding: 15px;
}

.numeroDaPorta {
    font-size: 3rem;
}

.massaneta {
    position: absolute;
    align-self: flex-start;
    top: calc(0.45 * var(--area-porta-altura));
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gainsboro;
}

.selecionada {

    border-left: 5px solid yellow;
    border-right: 5px solid yellow;
    border-top: 5px solid yellow;   
}

.selecionada .numeroDaPorta{
    color: yellow;
}

.selecionada .massaneta {
    background-color: yellow;
}
